body {
    background-color: navajowhite;
    background-image: url("img/fon.jpg");
    background-repeat: round;
}

section#publicidad {
    background-color: navajowhite;
    width: 500px;
    height: 400px;
    top:40%;
    float: right;
}
p {
    background-color:navajowhite;
    font-family: Gabriola;
    font-size: 20px;
}

h1 {
    font-family: Gabriola;
}


img#back {
    background-color: navajowhite;
    width: 33px;
    height: 33px;
    float: left;
}

/* Estilo de la barra */
.barra-panel {
    overflow: auto;
    position: absolute;
    left: 20px;
    top: 30%;
    width: 58%;
    right: 38%;
    height: 320px;
    z-index: 20;
}

.borde-panel {
    border: 1px solid rgb(255, 106, 0);
    background: RGB(215,201,168);
}

.punta-izq {
    border-top-left-radius: 5px;
}

.punta-der {
    border-top-right-radius: 5px;
}

.barra-scroll {
    width: 460px;
}

/* Estilo del marco delas imagenes */
figure {
    width: 130px;
    height: 130px;
    float: right;
    margin: 20px;
}

/* Estilo de las imagenes */
img {
    width: 200px;
    height: 200px;
}

