div h1 {
    font-family: Brush Script MT (cursiva);
    color: black;
    font-family: Gabriola;
}


body {
    width:90%;margin: 0 auto;min-width:600px;max-width:2000px
    background-image: url("fon.jpg");
    background-repeat:round;
}

section#bienvenids {
    background-color: navajowhite;
    width: 500px;
    height: 400px;
    top: 50%;
    float: right;
}

@media (max-width:320px)
    
div footer {
    width: 1310px;
    height: 20px;
}

header {
    position: relative;
}

nav {
    float: left;
    background-color: darkorange;
    position: relative;
    background: #ffa059;
    width: 99.99%;
    z-index: 60;
    float: inline-start;
}

    nav ul {
        list-style: none;
        overflow: hidden;
    }
    nav a:hover {
        color: #ff6a00;
    }

        nav ul li {
            float: left;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

            nav ul li a {
                display: block;
                padding: 20px;
                color: white;
                text-decoration: from-font;
            }




/* Diseño para celulares */
#columna1, #columna2, #columna3 {
    float: none;
    width: 100%;
}

/* Diseño para tabletas */
@media screen and (min-width: 800px) {
    #columna1, #columna2 {
        float: left;
        width: 50%;
    }
}

/* Diseño para PC */
@media screen and (min-width: 1025px) {
    #columna1, #columna2, #columna3 {
        float: left;
        width: 33%;
    }
}
